ul li {
	border: 2px solid #394057;
	position: absolute;
}

.pluto {
	width: 580px;
    height: 580px;
    border-radius: 292px;
    top: 30px;
    left: 190px;
}

.neptune {
	width: 520px;
    height: 520px;
    border-radius: 262px;
    top: 60px;
    left: 220px;
}